<!DOCTYPE html>
<html>
<head>
  <title>Laisvė</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Laisvė</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><%= link_to 'Home', home_welcome_path, class: "navbar-link" %></li>
        <% if current_user.profile.present? %>
          <li><%= link_to 'Your Profile', profile_path(current_user.profile.id), class: "navbar-link" %></li>
        <% else %>
           <li><%= link_to 'New Profile', new_profile_path, class: "navbar-link" %></li>
        <% end %>
        <% if user_signed_in? %>
          Signed in as <%= current_user.email %>
        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
        <% else %>
        <%= link_to 'Register', new_user_registration_path %></li> or <%= link_to 'Sign in', new_user_session_path %></li>
        <% end %>

      </ul>
    </div>
  </nav>

  <% flash.each do |key, value| %>
    <% unless value == "" %>
      <div class="alert alert-<%= key %>">
        <%= content_tag :div, value, :id => "flash" %>
      </div>
    <% end %>
  <% end %>

  <div class="main-content">
    <%= yield %>
  </div>

</body>
</html>
